<img src="https://github.com/leroykim/leroykim.github.io/blob/main/_includes/img/foaf.png" alt="dyk_foaf">
<!-- <p class="site-intro">AI expert specializing in large language models, knowledge graphs, and healthcare IT, with over 10
    years of experience developing AI-driven solutions for compliance, interoperability, and data integration.
    Passionate about translating cutting-edge AI research into scalable, real-world applications that enhance public
    resilience and drive innovation. Published nine papers (74 citations) with funding from the Office of Naval Research
    (ONR), the National Science Foundation (NSF), and the Pediatric Pandemic Network (PPN), demonstrating a proven track
    record in AI research and its industry applications. </p> -->